language: python
python:
- '3.5'
virtualenv:
  system_site_packages: false
sudo: false
cache:
- apt
- pip
before_install:
- export TRAVIS_COMMIT_MSG="$(git log --format=%B --no-merges -n 1)"
- REPO=`pwd`
- echo $REPO
- echo $TRAVIS_TAG
- pwd
addons:
  apt:
    packages:
    - python3-pip
    - git
    - unzip
    - python-dev
    - libevent-dev
    - libxml2
    - libxml2-dev
    - libxml2-utils
install:
- export PYTHONIOENCODING=UTF8
- pip install coveralls
- pip install -r requirements.txt
script:
- tox
after_success:
- coveralls